<h1>☆アクセス☆</h1>
<!-- 地名入力用のinputを追加 -->
<p class="center">小田急/相鉄線 海老名駅から徒歩5分</p>
<p class="center">JR 海老名駅から徒歩8分</p>

<div class="col-md-6 col-md-offset-2">
  <input id="address" type="textbox" value="">
  <!-- buttonをクリックしたらcodeAddressを実行　-->
  <input type="button" value="検索" onclick="codeAddress()"><br>
  <p></p>
  <div id='map'>
  </div>
    <p>　　　　　</p>
    <p>　　　　　</p>
    <p>　　　　　</p>
    <p>　　　　　</p>
</div>

<style>
#map{
  height: 500px;
  width: 800px;
}
</style>

<script>
/*
mapを関数の外で定義(codeAddressでも使うため)
geocoderを用意
*/ 

let map
let geocoder

function initMap(){
  // geocoderを初期化
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 35.45290216960606, lng: 139.39145622312202},
  zoom: 17
  });
}

function codeAddress(){
  // 入力を取得
  let inputAddress = document.getElementById('address').value;

  // geocodingしたあとmapを移動
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
　　　　　　　　　　　　// map.setCenterで地図が移動
      map.setCenter(results[0].geometry.location);

　　　　　　　　　　　　// google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>