<h1>☆スタッフ紹介☆</h1>
<div class="col-md-8 col-md-offset-2 center container-form-staff">
  <div>
    <table>
      <tr>
        <th style="padding-left: 20px; padding-right: 70px;"><%= image_tag 'orange_01.png', size: "160x220" %></th>
        <th style="padding-right: 70px;"><%= image_tag 'orange_02.png', size: "160x220" %></th>
        <th><%= image_tag 'orange_03.png', size: "160x220" %></th>
      </tr>
      <tr>
        <td style="padding-left: 20px; padding-right: 70px; font-size:20px;">☆担当者1☆</td>
        <td style="padding-right: 70px; font-size:20px;">☆担当者2☆</td>
        <td style="font-size:20px;">☆担当者3☆</td>
      </tr>
    </table>
  </div>
</div>