<% provide(:title, "Top") %>
<div class="jumbotron">
<h1>ダミーシステム(仮)</h1>

<p class="center">このウェブサービスは架空のものであり、あくまで練習用に作られています。</p>
<p class="center">This web service is just a dummy one for the purpose to practice creating a web application.</p>
</div>
