<% provide(:title, "Top") %>

<div class="container">
<div class="col-md-6 col-md-offset-3">
<p class="center">こんなところにデザイン力のある美容師が！！ラフ可愛い系おすすめ☆</p>
<%= image_tag 'orange1.png', size: "300x300" %>
<p>ご予約はコチラから</p>
<%= link_to '空席確認・予約', '#' %> 



</div>
</div>
