<h1>管理者専用ページ</h1>
  <p class="center">【管理者専用トップページ】</p>
<ul class="box flexbox">
  <li class="radius-square-admin radious-square-bg1">
    <p><%= link_to 'ユーザー情報', users_path, class: "btn btn-lg btn-primary" %></p>
    <p>・管理者情報</p>
    <p>・スタッフ情報</p>
    <p>・お客様情報</p>
    <p>確認/修正/削除</p>
  </li>  
  <li class="radius-square-admin radious-square-bg3">
    <p><%= link_to 'ご予約情報', admin_events_user_path, class: "btn btn-lg btn-primary" %></p>
    <p>・ご予約日時</p>
    <p>・ご予約者名</p>
    <p>・ご予約内容</p>
    <p>確認/修正/削除</p>
  </li>
  <li class="radius-square-admin radious-square-bg2">
    <p><%= link_to 'メニュー&料金情報', menus_path, class: "btn btn-lg btn-primary" %></p>
    <p>・メニュー</p>
    <p>・料金</p>
    <p>・サービス詳細</p>
    <p>確認/修正/削除</p>
  </li>
</ul>
  
