@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

@font-face {
  font-family: '851';
  src: font-url('851Gkktt_005.ttf') ;
}

@font-face {
  font-family: 'Hiragino';
  src: font-url('Hiragino_ProN.ttc')
}

@font-face {
  font-family: 'Hiragino-Maru';
  src: font-url('Hiragino_MaruGProN_W4.ttc')
}


/* サイト全体のフォント指定 */
body {
  font-family: "Hiragino-Maru";
  color: rgb(0, 0, 0);
  background: rgb(253, 231, 169);
}

.contents {

}

ul, li {
  list-style: none;
}

h1 {
  font-family: '851';
  font-size: 3em;
  letter-spacing: -5px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-family: '851';
  font-size: 2em;
  letter-spacing: 0px;
  margin-bottom: 10px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 0.7em;
}

.center {
  text-align: center;
}

p {
  font-size: 1.2em;
}


.jumbotron {
  color: #fff;
  background-color: rgb(8, 9, 83);
}



#logo {
  font-family: '851';
  float: left;
  margin-left: 15px;
  font-size: 2.2em;
  color: #000;
  background-color: rgb(255, 147, 46);
  text-transform: uppercase;
  letter-spacing: 0px;
  padding-top: 7px;
  font-weight: bold;
}

#logo:hover {
  color: rgb(170, 160, 160);
  text-decoration: none;
}

.header{
  position: fixed;
  background-color: rgb(255, 147, 46);
  opacity: 0.9;
  height: 4em;
  top: 0em;
  width: 100%;
  z-index: 99; //一番上にくる
  border: none;
}

.nav {
  font-size: 14px;
  margin-top: 1.5px;
  margin-right: 10px;
  color: #000;
  background-color: rgb(255, 147, 46);
}

.navbar-center {
  margin-left: 100px;
  float: left;
}

.navbar-right {
  margin-top: 15px;
  margin-right: 15px;
  float: left;
}

.footer{
  position: fixed;
  bottom: 0em; /*下に固定*/
  width: 100%;
  font-size: 1.3em;
  color: #fff;
  background-color: rgb(85, 65, 0);
  opacity: 0.9;
  line-height: 2em;
}

.radius-square1 {
  width: 260px;            /* 幅指定 */
  height: 240px;              /* 高さ指定 */
  border-radius: 40px;        /* 角丸指定 */
  display:  inline-block;     /* インラインブロックする */
  box-sizing:  border-box;    /* 崩れ防止 */
  margin-bottom: 5px;
  margin-right: 5px;         /* 要素の空き具合指定 */
  padding:  20px;             /* 余白指定 */
  font-family: "ヒラギノ丸ゴ Pro W4","Hiragino Maru Gothic Pro";    /* フォントの種類を指定 */
  text-align:  center;        /* 中央揃え */
  line-height: 1.5em;
  color:  rgb(0, 0, 0);               /* 文字色指定 */
  background-color:rgb(218, 178, 93);
  font-size: 17px;            /* 文字サイズ指定 */
}

.radius-square2 {
  width: 250px;            /* 幅指定 */
  height: 240px;              /* 高さ指定 */
  border-radius: 40px;        /* 角丸指定 */
  display:  inline-block;     /* インラインブロックする */
  box-sizing:  border-box;    /* 崩れ防止 */
  margin-bottom: 5px;         /* 要素の空き具合指定 */
  margin-right: 5px;         /* 要素の空き具合指定 */
  padding:  20px;             /* 余白指定 */
  font-family: "ヒラギノ丸ゴ Pro W4","Hiragino Maru Gothic Pro";    /* フォントの種類を指定 */
  text-align:  left;        /* 中央揃え */
  line-height: 1.5em;
  color:  rgb(0, 0, 0);               /* 文字色指定 */
  background-color:#a8c3e6;
  font-size: 12px;            /* 文字サイズ指定 */
}

.radius-square3 {
  width: 400px;            /* 幅指定 */
  height: 60px;              /* 高さ指定 */
  border-radius: 20px;        /* 角丸指定 */
  display:  inline-block;     /* インラインブロックする */
  box-sizing:  border-box;    /* 崩れ防止 */
  margin-bottom: 5px;         /* 要素の空き具合指定 */
  padding:  15px;             /* 余白指定 */
  font-family: "ヒラギノ丸ゴ Pro W4","Hiragino Maru Gothic Pro";    /* フォントの種類を指定 */
  text-align:  center;        /* 中央揃え */
  color:  rgb(0, 0, 0);               /* 文字色指定 */
  background-color:#d4c096;
  font-size: 15px;            /* 文字サイズ指定 */
}

.flexbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.highlight {
  background:linear-gradient(transparent 70%, #FFFF00 0%);
}

.form-control {
  width: 350px;
}

.container-form {
  border: dashed;
  border-color: #000;
  border-width: 1px;
  width: 400px;
  height: 400px;
  padding-top: 30px;
  background-color: rgb(238, 238, 224);
  border-radius: 20px;
}













