<footer class="footer center">
  <div>
    <small>2021 美容室オレンジ Hair Salon Orange, Powered by Tomo OSHIMA</small><br>
    <small>This is a web application portfolio example with Ruby on Rails 5.</small>
  </div>
</footer>